<!DOCTYPE html>
<html>
<head>
 <title></title>
 <meta charset="utf-8" />
</head>
<body>
<div>
  <div style="text-align: center;font-size: 30px;font-weight: bold;text-transform: uppercase;background-color: #000;color:#fff;">Coronavirus (COVID-19) Dashboard</div>
  <p style="text-align: center;">
  The Coronavirus (COVID-19) dashboard presents official daily counts of COVID-19 cases and deaths by countries, territories and areas. 
  <br>this dashboard, we aim to provide a frequently updated data visualization.
</p>

<div class="bd-example" style="max-width: 100%;">
  <img src="{{url_for('static', filename='cases.jpg')}}" align="middle" style="max-width:55%;margin: 0px 21%;" />
</div>

<div class="bd-example" style="max-width: 100%;">
  <img src="{{url_for('static', filename='deaths.jpg')}}" align="middle" style="max-width:55%;margin: 0px 21%;"/>
</div>

</div>
</body>
</html>